.wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.box {
  box-sizing: border-box;
  width: 100%;
  padding: 50px 10px;
  text-align: center;
  vertical-align: center;
  color: #111;
  font-family: droid-sans-mono, sans-serif;
}