.e, .f, .g, .h {
  width: 50%;
}

@media screen and (min-width: 768px) {
  .b {
    width: 20%;
  }

  .c-i {
    width: 80%;
  }

  .c, .d, .e-f, .g-h {
    width: 50%;
  }
}

@media screen and (min-width: 960px) {
  div.wrapper {
    width: 960px;
    margin: 0 auto;
  }
}