.a {
  background-color: #aaa;
}

.b {
  background-color: #f012be;
}

.c {
  background-color: #ff4136;
}

.d {
  background-color: #2ecc40;
}

.e {
  background-color: #ffdc00
}

.f {
  background-color: #39cccc;
}

.g {
  background-color: #ff851b;
}

.h {
  background-color: #b10dc9;
}

.i {
  background-color: #0074d9;
}